*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.962);
}
.reloj{
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/img/reloj.png");
    background-size: cover;
    border: 1rem solid rgb(14, 12, 121);
    border-radius: 50vh;
    box-shadow: inset 0px 0px 20px 5px rgba(0, 187, 255, 0.879);
}
.reloj::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: rgba(13, 38, 110, 0.903);
    border-radius: 50vh;
    z-index: 100;

    
}

.hora{
    width: 140px;
    height: 140px;
}
.minuto{
    width: 220px;
    height: 220px;
}
.segundo{
    width: 250px;
    height: 250px;
}

.hora::before{
    content: '';
    position: absolute;
    width: 5px;
    height: 93px;
    background-color: beige;
    z-index: 10;
    border-radius: 50vh;
}
.minuto::before{
    content: '';
    position: absolute;
    width: 4px;
    height: 130px;
    background-color: rgba(21, 7, 88, 0.859);
    z-index: 11;
    border-radius: 50vh;
}
.segundo::before{
    content: '';
    position: absolute;
    width: 1.8px;
    height: 150px;
    background-color: darkcyan;
    z-index: 12;
    border-radius: 50vh;
}
.hora, .minuto, .segundo{
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50vh;
}